<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка соединения</title>
    <style>
        .error-message
        {
            color: red;
            font-size: 40px;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="error-message" id="error-message">
    Не удалось отправить данные на устройство или потеряно соединение с устройством.
    <br><br>
    <a href="/">Пожалуйста, попробуйте еще раз </a>
    <br><br>
    <img src="\static\connection.gif" width="50%">
</div>

</body>
</html>


<!--<div class="tenor-gif-embed" data-postid="21283599" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/signal-lost-invincible-lost-signal-without-a-signal-no-network-gif-21283599">Signal Lost Invincible GIF</a>from <a href="https://tenor.com/search/signal+lost-gifs">Signal Lost GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>-->
